@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
/* || Top level */

html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* || Main level*/

/* || Header */

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items:  center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.navbar__logo {
    font-size: 24px;
}

.navbar__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    color: #E5E7EB;
}

.navbar__list a {
    text-decoration: none;
    color:  #E5E7EB;
}

/* || First Section */

.first-section {
    display: flex;
    text-align: left;
    justify-content: space-around;
    background-color: #1F2937;
    width: 100vw;
}

.first-section__text h1 {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.first-section__text p {
    font-size: 18px;
    color: #E5E7EB;
}

.first-section__text button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 15px;
}

/* || Second Section */

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.second-section__title {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.second-section__list {
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.second-section__list figcaption{
    color: gray;
}

/* || Third Section */

.third-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 100vw;
    color: #1F2937;
}


.third-section__quote {
    font-weight: 300;
    font-style: italic;
}

.third-section__quote_author {
    text-align: right;
    font-weight: bold;
}

/* || Fourth Section */

.fourth-section {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
}

.fourth-section__button {
    color: #F9FAF8;
    background: none;
    padding: 15px;
    border-radius: 8px;
    border-color: #F9FAF8;
}

/* || Footer */

.footer {
    width: 100vw;
    text-align: center;
}

.footer__text {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 0;
    margin: 0;
}