@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/pexels-marina-m-8356200.jpg");
    background-size: 3000px auto;
}

/* || Header */

header {
    width: 100vw;
    padding: 15px;
    background-color: #Ab784E;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 980px;
}

.logo {
    color: #005C46;
    font-size: 24px;
}

.navbar__list {
    list-style: none;
    display: flex;
    gap: 18px;
}

.navbar__list a {
    color: #205d47;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s 0s ease-in-out;
}

.navbar__list a:hover {
    color: #098a5b;
}


/* || First section */

.first-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.first-section__text {
    text-align: left;
    width: 460px;
}

.first-section__text h1 {
    color: #005C46;
    font-size: 48px;
    font-weight: 700;
}

.first-section__text p {
    color: #205d47;
    font-size: 18px;
    margin-bottom: 8px;
}

.first-section__button {
    background-color: #Ab784E;
    border: none;
    color: #F9FAF8;
    width: 130px;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s 0s ease-in-out;
    cursor: pointer;
}

.first-section__img img {
    width: 920px;
    height: auto;
}

.first-section__img {
    width: 920px;
    height: 215px;
    overflow: hidden;
}

.first-section__button:hover {
    background-color: #674528;
}

/* || Second section */

.second-section {
    width: 100vw;
    height: 500px;
    background-color: #Ab784E;
    padding: 50px 50px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.second-section__title {
    color: #005C46;
    font-size: 36px;
    font-weight: 700;
}

.second-section__list {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #F9FAF8;
    display: flex;
    gap: 50px;
}

.second-section__list li {
    text-align: center;
    width: 200px;
}

.second-section__img {
    height: 200px;
    width: 200px;
    border-radius: 12px;
}

/* || Third section */

.third-section {
    color: #005C46;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-section__container {
    width: 795px;
}

.third-section__quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.third-section__author {
    text-align: right;
    font-weight: bold;
    margin-right: 40px;
}

/* || Fourth section */

.fourth-section {
    background-color: #Ab784E;
    width: 100vw;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-section__container {
    background-color: #674528;
    color: #F9FAF8;
    width: 1400px;
    height: 150px;
    padding: 40px 300px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourth-section__button {
    background-color: inherit;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    font-size: 16px;
    width: 130px;
    padding: 7px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s 0s ease-in-out;
    cursor: pointer;
}

.fourth-section__button:hover {
    color: #005C46;
    border-color: #005C46;
}

/* || Footer */

.footer {
    color: #005C46;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}